autostart
Code/
dconf/
dwm/autostart_blocking.sh
evolution
flameshot/
gnome-session/
gnome-settings-daemon/
gnome-shell/
goa-1.0/
google-chrome
.gsd-keyboard.settings-ported
.gsd-keyboard.settings-ported
gtk-3.0/
gvfs-metadata/
htop/
ibus/
icc/
IsolatedStorage/
JetBrains
lazy-lock.json
lesshst
libreoffice/
mimeapps.list
mimeapps.list
.mono/**
nautilus/
nextjs-nodejs/**
ngrok/
NuGet/
nvim/lazy
nvim/telescope_history
nvm/
**/packer_compiled.lua
pavucontrol.ini
powershell/
pulse/
pulse/**
Raspberry Pi/
recently-used.xbel
RefSrcSymbols/
reqable/
scripts/xrandr/
session_migration-ubuntu
sounds/
Symbols/
SymbolSourceSymbols/
update-notifier/
user-dirs.*
.zcompdump
zshell/**
!zshell/.zshrc
