**/packer_compiled.lua
evolution
lazy-lock.json
nextjs-nodejs/**
pulse/**
.mono/**
user-dirs.*
mimeapps.list
.gsd-keyboard.settings-ported
ibus/
dconf/
update-notifier/
nautilus/
gtk-3.0/

zshell/**
!zshell/.zshrc

.gsd-keyboard.settings-ported
.zcompdump
mimeapps.list
pavucontrol.ini

autostart
JetBrains
