**/packer_compiled.lua
evolution
lazy-lock.json
nextjs-nodejs/**
pulse/**
.mono/**
user-dirs.*
mimeapps.list
.gsd-keyboard.settings-ported
ibus/
dconf/
update-notifier/
nautilus/
gtk-3.0/

zshell/**
!zshell/.zshrc

.gsd-keyboard.settings-ported
.zcompdump
mimeapps.list
pavucontrol.ini

autostart
JetBrains
google-chrome

nvim/lazy

IsolatedStorage/
NuGet/
SymbolSourceSymbols/
dwm/autostart_blocking.sh
flameshot/
gnome-settings-daemon/
gnome-shell/
gvfs-metadata/
htop/
icc/
lesshst
nvim/telescope_history
nvm/
powershell/
recently-used.xbel
scripts/xrandr/
session_migration-ubuntu
