layout {
    pane size=1 borderless=true {
        plugin location="tab-bar"
    }
    pane
    pane size=1 borderless=true {
        plugin location="status-bar"
    }
    pane split_direction="vertical" size=3 {
      pane {
        borderless true
        name "zentime"
        command "zentime"
	args "-i" "minimal"
      }
    }
}
